# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints

# --- Distribution / Packaging ---
.eggs/
*.egg-info/
*.egg
dist/
build/

# --- IDEs / Editors ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# --- Project Specific ---
# Si tu génères des logs ou des exports de maps
*.log
exports/
